@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat/static/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat/static/Montserrat-Light.ttf');
}

:root{
    --theme-color: #9C2232;
    --theme-white: #fff;
    --theme-bg: #353537;
    --theme-black: #242426;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--theme-bg);
    font-family: 'Montserrat-Medium';
}

h1 {
    color: var(--theme-white);
    font-size: 2em;
}

.link-effect:hover{
    font-size: 1.1em !important;
    color: #00ffdd !important;
}

.link-effect:visited{
    color: red !important;
}

.content-container{
    width: 80%;
    margin: 0 auto;
}

.bg-black, .bg-black *{
    background-color: var(--theme-black);
}

.ft-white{
    color: var(--theme-white);
}

.pt-1{
    padding-top: 10px;
}

.pt-2{
    padding-top: 20px;
}

.pt-3{
    padding-top: 30px;
}

.design_line::after{
    display: block;
    content: "";
    width: 100px;
    height: 5px;
    background-color: var(--theme-color);
    top: 18px;
    position: relative;
}

.section-padding {
    padding: 80px 0;
}

.section-big-title{
    position: absolute;
    top: 4%;
    margin: 0 auto;
    margin: 0 auto;
    font-size: 120px;
    text-align: center;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, 0%);
    letter-spacing: 16px;
    opacity: 0.1;
    color: #888888;
    font-weight: bold;
}

.bg-black *{
    background-color: var(--theme-black) !important;
}

.bg-bg *{
    background-color: var(--theme-bg) !important;
}